html, body {
    height: 100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
    background-color: #f5f5f5;
}
.navbar-default {
    background-color: #4773ae;
    border-color: #468cce;
}
.navbar-default .navbar-brand {
    color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #cae4f2;
}
.navbar-default .navbar-text {
    color: #000000;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #cae4f2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #cae4f2;
    background-color: #468cce;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #cae4f2;
    background-color: #468cce;
}
.navbar-default .navbar-toggle {
    border-color: #468cce;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #468cce;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #000000;
}
.navbar-default .navbar-link {
    color: #000000;
}
.navbar-default .navbar-link:hover {
    color: #cae4f2;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #cae4f2;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #cae4f2;
        background-color: #468cce;
    }
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.pushdown {
    margin-top: 20%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.itemtitle {
    font-family: Arial;
    font-size: 12px;
    color: #c0c0c0;
    text-align: center;
    width: 100%;
    height: 15px;
}

.itemtopbg {
    width: 451px;
    height: 18px;
    background-image: url(/images/Itemtop.gif);
}

.itembotbg {
    width: 451px;
    height: 10px;
    background-image: url(/images/Itembot.gif);
}

.itemdata {
    font-family: Arial;
    font-size: 12px;
    color: #ffffff;
    padding: 7px;
    width: 100%;
    overflow: hidden;
    min-height: 150px;
}

.itemicon {
    margin: 0 25px;
}

.itembg {
    width: 451px;
    background-image: url(/images/Itemshot.gif);
    text-align: left;
}

.itemdata a {
    color: #0b0;
}

.well-hover:default
{
    background-color: #ccc;
}
.well-hover:hover
{
    background-color: #f9f9f9;
}

.search-img {
    float: right;
    width: 50px;
    height: 50px;
    border-style: solid;
    background-color: #101010;
    position: relative;
    border-radius: 5px;
    border-color: #404040;
}

.search-img img{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    margin-left: 2px;
}

.search {
    font-family: 'Source Sans Pro Semibold', 'Lato', sans-serif;
}

.search-desc {
    text-decoration: none;
    color: black;
}


div.floatright {
    margin: 0 0 .5em .5em;
    border: 0;
    position: relative;
    clear: right;
    float: right;
}

.auction-box {
    background-color: #101124;
    overflow-y: scroll;
    height:400px;
    resize: both;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    z-index: 9999;
}

.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.auction-message {
    color: green;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.auction-loading {
    color: crimson;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.auction-connected {
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.auction-message.a{
    color: magenta;
    font-weight: bold;
}

.ajaxtooltip{
    position: absolute; /*leave this alone*/
    display: none; /*leave this alone*/
    width: 300px;
    left: 0; /*leave this alone*/
    top: 0; /*leave this alone*/
    background: lightyellow;
    border: 2px solid gray;
    border-width: 1px 2px 2px 1px;
    padding: 5px;
}



