html, body {
    height: 100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
    background-color: #f5f5f5;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.pushdown{
    margin-top: 20%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.itemtitle{
    font-family: Arial;
    font-size: 12px;
    color: #c0c0c0;
    text-align: center;
    width: 100%;
    height: 15px;
}

.itemtopbg {
    width: 451px;
    height: 18px;
    background-image: url(/images/Itemtop.gif);
}

.itembotbg {
    width: 451px;
    height: 10px;
    background-image: url(/images/Itembot.gif);
}

.itemdata {
    font-family: Arial;
    font-size: 12px;
    color: #ffffff;
    padding: 7px;
    width: 100%;
    overflow: hidden;
}

.itemicon {
    margin: 0 25px;
}

.itembg {
    width: 451px;
    background-image: url(/images/Itemshot.gif);
    text-align: left;
}

.itemdata a {
    color: #0b0;
}

div.floatright{
    margin: 0 0 .5em .5em;
    border: 0;
    position: relative;
    clear: right;
    float: right;
}


